{% load static %}
<div class="loginRegister container-fluid">
  {% comment %}csrf for login and register{% endcomment %}
  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-between p-3">
            <h5 class="modal-title fw-medium h4">Login to Jobportal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="p-3" id="loginForm">
            <div id='login_error' class="d-none card p-3 mb-3 border-0"></div>
            {% csrf_token %}
            <div class="form-group mb-4">
              <label for="loginEmail" class="form-label">Email</label>
              <input name="email" type="email" class="loginRegister_input form-control" id="loginEmail" placeholder="Email" />
            </div>
            <div class="form-group mb-4">
              <label for="loginPassword" class="form-label">Password</label>
              <input type="password" name="password" class="loginRegister_input form-control" id="loginPassword" placeholder="Password" />
            </div>

            <div class="justify-content-between d-flex mb-3">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label loginRegister_check" for="exampleCheck1">Keep me signed In</label>
              </div>
              <a class="loginRegister_forgot_pass" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#passResetModal" class="switch-modal">forgotten password ?</a>
            </div>
            <div class="d-grid gap-2 mb-3">
              <button type="submit" class="loginRegister_cta_btn btn btn-primary">Login</button>
            </div>
            <p class="text-center text-secondary">
              Do you have an Account ?<a style="cursor: pointer;" class="text-decoration-none fw-medium text-primary p-2" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% comment %}register modal{% endcomment %}
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-between p-3">
            <h5 class="modal-title fw-medium h4">Create a free Job account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="p-3" id="registerForm">
            <div id='register_error' class="d-none card p-3 mb-3 border-0"></div>
            <div class="user-type-selection d-flex justify-content-around mb-4">
              <input type="radio" name="userType" id="candidate" value="candidate" checked />
              <label for="candidate" class="user-type-label"><i class="bi bi-person"></i> Candidate</label>

              <input type="radio" name="userType" id="employer" value="employer" />
              <label for="employer" class="user-type-label"><i class="bi bi-briefcase"></i> Employer</label>
            </div>

            <div class="form-group mb-3">
              <label for="loginEmail" class="form-label">Email<span style="color: red;">*</span></label>
              <input name="email" type="email" class="loginRegister_input form-control" id="loginEmail" placeholder="Email" />
            </div>
            <div class="form-group mb-3">
              <label for="loginPassword" class="form-label">Password<span style="color: red;">*</span></label>
              <input name="password" type="password" class="loginRegister_input form-control" id="loginPassword" placeholder="Password" />
            </div>
            <div class="form-group mb-3">
              <label for="loginPassword" class="form-label">Confirm Password<span style="color: red;">*</span></label>
              <input name="confirmpassword" type="password" class="loginRegister_input form-control" id="loginConfimrPassword" placeholder="Confirm Password" />
            </div>
            <div class="mb-3 form-check loginRegister_check">
              <input type="checkbox" class="form-check-input " id="exampleCheck1" />
              <label class="form-check-label" for="exampleCheck1">You accept our <a href="">Terms and Conditions and Privacy Policy</a></label>
            </div>
            <div class="d-grid gap-2 mb-3">
              <button type="submit" class="loginRegister_cta_btn btn btn-primary">Register Now</button>
            </div>
            <p class="text-center">
              Already have an account ?<a style="cursor: pointer;" class="text-decoration-none fw-semibold text-primary p-2" data-bs-toggle="modal" data-bs-target="#loginModal" class="switch-modal">Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="passResetModal" tabindex="-1" aria-labelledby="passResetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-between p-3">
            <h5 class="h4 modal-title fw-medium ">Login to Superio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="p-3" id="resetpassForm">
            <div id="reset-pass_error" class="d-none card p-3 mb-3 border-1"></div>
            <div class="form-group mb-3">
              <h5>Reset Password</h5>
              <label for="loginEmail" class="form-label text-secondary fs-6 mb-4">Please Enter Username or Email</label>
              <input name="email" type="email" class="loginRegister_input form-control mb-3" id="loginEmail" placeholder="Username or Email" />
            </div>
            <div class="mb-3">
              <button type="submit" class="d-block loginRegister_cta_btn btn btn-primary">Get new Password</button>
            </div>
            <p>
              <a class="text-decoration-none text-dark"  style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#loginModal" class="switch-modal">Back to Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% block extra_js %}
<script src="{% static 'scripts/loginRegister.js' %}"></script>
<script>
  submitForm('loginForm', "{% url 'accounts:login' %}", 'login_error')
  submitForm('registerForm', "{% url 'accounts:register' %}", 'register_error')
  submitForm('resetpassForm', "{% url 'accounts:reset-pass' %}", 'reset-pass_error')
</script>
{% endblock %}

