{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>Password Reset Complete</title>
{% endblock title %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css_styles %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center my-4">Password Reset Complete</h2>
            <div class="alert alert-success" role="alert">
                Your password has been successfully reset. You can now log in with your new password.
            </div>
            <div class="text-center">
                <a href="{% url 'home' %}" class="btn btn-primary">Go to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}