{% extends 'shared/base.html' %}
{% load static %}
{% load form_tags %}

{% block title %}
  <title>Change Password</title>
{% endblock %}

{% block css_styles %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/applied_jobs.css' %}" />
  <style>
    /* removes the bullet points in the form field errors*/
    ul.errorlist {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    .change_pass {
      background-color: #f5f7fc;
    }
    .change_pass_input {
      background: #f0f5f7;
      padding: 20px;
      border: none;
      border-radius: 8px;
      color: #77838f;
      font-size: 15px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid d-flex change_pass">
    {% include 'shared/side_panel.html' %}
    <div class="p-5">
      <div class="header">
        <h2 class="mb-4">Change Password</h2>
      </div>
      <div class="shadow-sm border-1 border border-light-subtle card p-5 flex-item" style="width: 70vw;">
        <form method="post">
          {% csrf_token %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
          {% endif %}
          {% if form.errors %}
            <div class="alert alert-danger form-group mb-4">
              {{ form.non_field_errors }}
              {% for field in form %}
                {{ field.errors }}
              {% endfor %}
            </div>
          {% endif %}
          <div class="form-group mb-4">
            <label for="id_old_password" class="form-label">Old password</label>
            {{ form.old_password|add_class:'form-control change_pass_input' }}
            <div class="form-text text-danger">{{ form.old_password.errors }}</div>
          </div>
          <div class="form-group mb-4">
            <label for="id_new_password" class="form-label">New password</label>
            {{ form.new_password1|add_class:'form-control change_pass_input' }}
            <div class="text-danger form-text">{{ form.new_password1.errors }}</div>
          </div>
          <div class="form-group mb-4">
            <label for="id_new_password2" class="form-label">Retype password</label>
            {{ form.new_password2|add_class:'form-control change_pass_input' }}
            <div class="text-danger form-text">{{ form.new_password2.errors }}</div>
          </div>
          <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
      </div>
      <div>
        <p class="text-center my-5">© 2021 Superio. All Right Reserved.</p>
      </div>
    </div>
  </div>
{% endblock %}
