{% extends 'shared/base.html' %}
{% load static %}
{% load form_tags %}

{% block title %}
<title>Password Reset</title>
{% endblock title %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css_styles %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mb-5">
        <div>
            <h2 class="my-4">Reset Password</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label class="form-label" for="id_new_password1">New Password</label><br>
                    {{ form.new_password1|add_class:"form-control" }}
                    <div class="text-danger">{{ form.new_password1.errors }}</div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="id_new_password2">Confirm Password</label><br>
                    {{ form.new_password2|add_class:"form-control" }}
                    <div class="text-danger">{{ form.new_password2.errors }}</div>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form> 
        </div>
    </div>
</div> 
{% endblock content %}
