{% load static %}
<div class="container-fluid py-5">
    <div class="row align-items-stretch">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{% static 'img/app_ad.jpg' %}" class="img-fluid rounded" alt="">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class=" d-flex flex-column justify-content-center align-items-start">
                <div class="mb-3">
                    <h4 style="color:#1967D2;">DOWNLOAD & ENJOY</h4>
                    <h1>Get the Superio Job<br>Search App</h1>
                </div>
                <div class="mb-3">
                    <p>Search through millions of jobs and find the right fit. Simply swipe right to apply.</p>
                </div>
                <div>
                    <div class="download-app-btn">
                        <a href="">
                            <i class="fa-brands fa-app-store"></i> Download on Appstore
                        </a>
                    </div>
                    <div class="download-app-btn">
                        <a href="">
                            <i class="fa-brands fa-google-play"></i> Download on Playstore
                        </a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-9 recruit-banner-background d-flex flex-column py-5 px-5">
            <div>
                <h2>Recruiting?</h2>
            </div>
            <div class="mt-">
                <span>Advertise your jobs to millions of monthly users and search 15.8 million CVs<br> 
                    in our database.</span>
            </div>
            <div class="mt-4">
                <button class="custom-btn btn-blue me-2" type="button">Start Recruiting Now</button>
            </div>
        </div>
    </div>
</div>



