{% load static %}
<div class="text-center">
    <h3>Recent News Articles</h3>
    <p>Fresh job related news content posted each day</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'img/article1.jpg' %}" class="card-img-top" alt="Two people shaking hands">
                <div class="card-body">
                    <span class="card-date">April 26, 2021</span>
                    <div class="card-comments">1 Comments</div>
                    <h5 class="card-title">Attract sales and profits</h5>
                    <p class="card-text">A job ravenously while Far much that one rank beheld after outside...</p>
                    <a href="#" class="">Read more..</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'img/article2.jpg' %}" class="card-img-top" alt="Close-up of a hand">
                <div class="card-body">
                    <span class="card-date">April 26, 2021</span>
                    <div class="card-comments">3 Comments</div>
                    <h5 class="card-title">5 Tips for your job interviews</h5>
                    <p class="card-text">A job ravenously while Far much that one rank beheld after outside...</p>
                    <a href="#" class="">Read more..</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'img/office1.jpg' %}" class="card-img-top" alt="Close-up of a hand">
                <div class="card-body">
                    <span class="card-date">April 26, 2021</span>
                    <div class="card-comments">0 Comments</div>
                    <h5 class="card-title">The evening of the holiday</h5>
                    <p class="card-text">A job ravenously while Far much that one rank beheld after outside...</p>
                    <a href="#" class="">Read more..</more></a>
                </div>
            </div>
        </div>
    </div>
</div>