<div class="container-fluid banner-background-color">
    <div class="row">
        <div class="col-md-7">
            <div class="center-content ms-5">
                <div class="banner-desc mb-4">
                    <p id="p1">There Are 93,178 Postings Here<br> For you!</p>
                    <p id="p2">Find Jobs, Employment & Career Opportunities</p>
                </div>
                <form method="post" action="{% url 'search' %}" class="d-flex align-items-center form-inline">
                    <div class="input-group me-3">
                        {% csrf_token %}
                        <span class="input-group-text">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input type="text" class="form-control banner-form-group" placeholder="Job title, keywords..." aria-label="Search" name="searched">
                    </div>
                    <div class="input-group me-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        {% if locations %}
                        <select name="location" class="form-control banner-form-group">
                            <option value="" disabled selected>City or postcode</option>
                            {% for location in locations %}
                            <option value="{{ forloop.counter }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                    <button type="submit" class="search-btn banner-form button">Find Jobs</button>
                </form>
            </div>
        </div>
        <div class="col-md-5 d-flex align-items-end">
            <div class="banner-background"></div>
        </div>
    </div>
</div>
