{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    {% block title %}

    {% endblock title %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    

</head>

<body>

    {% include 'shared/navbar.html' %}

    {% block content %}

    {% endblock content %}

    <script src="{% static 'script/script.js' %}"></script>"
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3c409009f8.js" crossorigin="anonymous"></script>

    <footer class="footer bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-3 mb-md-0 footer-column">
                    <h3>Superio</h3>
                    <p class="font-weight-bold">Call us<br><span class="contact-number">123 456 7890</span></p>
                    <p>328 Queensberry Street, North Melbourne VIC<br>3051, Australia.</p>
                    <p>support@superio.com</p>
                </div>
                <div class="col-md-2 mb-3 mb-md-0 footer-column">
                    <h3>For Candidates</h3>
                    <ul>
                        <li><a href="#">Browse Jobs</a></li>
                        <li><a href="#">Browse Candidates</a></li>
                        <li><a href="#">Candidate Dashboard</a></li>
                        <li><a href="#">Job Alerts</a></li>
                        <li><a href="#">My Bookmarks</a></li>
                    </ul>
                </div>
                <div class="col-md-2 mb-3 mb-md-0 footer-column">
                    <h3>For Employers</h3>
                    <ul>
                        <li><a href="#">All Employers</a></li>
                        <li><a href="#">Employer Dashboard</a></li>
                        <li><a href="#">Submit Job</a></li>
                        <li><a href="#">Job Packages</a></li>
                    </ul>
                </div>
                <div class="col-md-2 mb-3 mb-md-0 footer-column">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Packages</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-column">
                    <h3>Helpful Resources</h3>
                    <ul>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Center</a></li>
                        <li><a href="#">Security Center</a></li>
                        <li><a href="#">Accessibility Center</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>    
</body>

</html>