<div class="container py-5 section-divider">
    <div class="mb-5">
        <h2 class="text-center">Featured Jobs</h2>
        <p class="text-center">Know your worth and find the job that qualifies your life</p>
    </div>
    <div class="row">
            {% for jobs in jobs %}
            <div class="col-md-6 mb-4">
                <div class="card job-card">
                    <div class="card-body p-4 mt-2 mb-2">
                        <div class="row">
                            <div class="col-md-3 ms-4 custom-icon-bg d-flex justify-content-center">
                            </div>
                            <div class="col-md-9 d-flex flex-column justify-content-between">
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'job_details' jobs.pk %}" style="text-decoration: none; color: inherit;">
                                        <h5 class="job-card-title">{{jobs.job_title}}</h5>
                                    </a>
                                    <div class="ms-2">
                                        <span class="text-danger">{{jobs.status}}</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <p class="card-text text-nowrap">
                                        <span class="text-muted me-2"><i class="fa-solid fa-briefcase"></i>&nbsp;{{jobs.category}}</span>
                                        <span class="me-2"><i class="fa-solid fa-location-dot"></i>&nbsp;{{jobs.location}}</span>
                                        <span><i class="fa-solid fa-money-bill"></i>&nbsp;${{jobs.min_salary}} - ${{jobs.max_salary}} / {{jobs.salary_type}}</span>
                                    </p>
                                </div>
                                <div>
                                    <span class="job-type-badge">{{jobs.job_type}}</span>
                                    <span class="urgent-badge">{{jobs.urgency_level}}</span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            {% endfor%}
            
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <a href="{% url 'job_list' %}" style="text-decoration: none; color: inherit;"><button class="custom-btn btn-blue me-2" type="button">Load More Listing</button></a>
            
        </div>
    </div>
</div>
