{% load static %}
<div class="py-5 section-divider">
    <h2 class="text-center">--PARTNERS LOGOS GOES HERE--</h2>
</div>
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{% static 'img/get_started_banner.jpg' %}" class="img-fluid rounded" alt="">
        </div> 
        <div class="col-md-6">
            <div>
                <h1 class="mb-4">Millions of Jobs. Find the one that suits you.</h1>
            </div>
            <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 600,000 companies worldwide.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check text-primary mb-4"></i> Bring to the table win-win survival</li>
                <li><i class="fa fa-check text-primary mb-4"></i> Capitalize on low hanging fruit to identify</li>
                <li><i class="fa fa-check text-primary mb-4"></i> But I must explain to you how all this</li>
            </ul>
            <button class="custom-btn btn-blue me-2" type="button">Get Started</button>
        </div>
    </div>
    <div class="row text-center report-bar">
        <div class="col-md-4">
            <h1>4M</h1>
            <p>4 million daily active users</p>
        </div>
        <div class="col-md-4">
            <h1>12k</h1>
            <p>Over 12k open job positions</p>
        </div>
        <div class="col-md-4">
            <h1>20M</h1>
            <p>Over 20 million stories shared</p>
        </div>
    </div>
</div>
