<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom-bg">
    <div class="container-fluid">
      <a class="navbar-brand ms-5 me-5" href="#">Superio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active me-5" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{% url 'job_list' %}">Find Jobs</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{% url 'employers_list' %}">Employers</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{% url 'candidate' %}">Candidates</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="#">Blogs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pages
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Shop</a></li>
              <li><a class="dropdown-item" href="{% url 'pricing' %}">Pricing</a></li>
              <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
              <li><a class="dropdown-item" href="#">Contact</a></li>
              <li><a class="dropdown-item" href="{% url 'faq' %}">FAQ</a></li>
              <li><a class="dropdown-item" href="{% url 'terms' %}">Terms</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex ms-auto">
            <form class="container-fluid justify-content-start">
              <button type="button" class="custom-btn login-reg-btn me-2"  data-bs-toggle="modal" data-bs-target="#loginModal">Login / Register</button>
              <button class="custom-btn btn-blue me-2" type="button">Job Post</button>
              <a href="" class="notification-btn me-5"><i class="fa-regular fa-bell"></i></a>
            </form>
        </div>
      </div>
    </div>
  </nav>