<div class="container-fluid mt-5 py-5 section-divider">
    <div class="mb-5">
        <h2 class="text-center">Popular Job Categories</h2>
        <p class="text-center">2020 jobs live - 293 added today.</p>
    </div>
    <div class="row justify-content-center  mx-5 my-4 px-5">
        {% for category in categories %}
        <div class="col-md-4 mb-4">
            <div class="card job-box">
                <a href="{% url 'category_detail' category.pk %}" style="text-decoration: none; color: inherit;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="custom-icon custom-icon-bg me-2"><i class="{{category.icon}}"></i></div>
                            <h5>{{category.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>