{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>Your Saved Jobs</title>
{% endblock title %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/applied_jobs.css' %}">
{% endblock css_styles %}

{% block content %}

<div class="container-fluid d-flex">
    {% include 'shared/side_panel.html' %}
    <div class="main-content p-5">
        <div class="header">
            <h1>My Jobs</h1>
        </div>
        <div class="row d-flex flex-column">
            {% if saved_jobs %}
            {% for saved_jobs in saved_jobs %}
            <div class="col-md-12 mb-4">
                <div class="card job-card">
                    <div class="card-body p-4 mt-2 mb-2">
                        <div class="row">
                            <div class="col-md-3 ms-4 custom-icon-bg d-flex justify-content-center">
                            </div>
                            <div class="col-md-9 d-flex flex-column justify-content-between">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="job-row-one">
                                        <div class="d-flex">
                                            <a class="feat-jobs" href="{% url 'job_details' saved_jobs.job.pk %}" style="text-decoration: none; color: inherit;">
                                                <h5 class="job-card-title">{{saved_jobs.job.job_title}}</h5>
                                            </a>
                                            <div class="ms-2">
                                                <span class="text-danger">{{saved_jobs.job.status}}</span>
                                            </div>
                                            <a href="{% url 'delete_saved_job' saved_jobs.pk %}" class="delete-button">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </a>                                        
                                        </div>
                                    </div>
                                </div>                                
                                <div class="mb-3">
                                    <p class="card-text text-nowrap">
                                        <span class="text-muted me-2"><i class="fa-solid fa-briefcase"></i>&nbsp;{{saved_jobs.job.category}}</span>
                                        <span class="me-2"><i class="fa-solid fa-location-dot"></i>&nbsp;{{saved_jobs.job.location}}</span>
                                        <span><i class="fa-solid fa-money-bill"></i>&nbsp;${{saved_jobs.job.min_salary}} - ${{saved_jobs.job.max_salary}} / {{saved_jobs.job.salary_type}}</span>
                                    </p>
                                </div>
                                <div>
                                    <span class="job-type-badge">{{saved_jobs.job.job_type}}</span>
                                    <span class="urgent-badge">{{saved_jobs.job.urgency_level}}</span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="d-flex align-items-center justify-content-center">
                <h3>You have not saved any jobs!</h3>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}