{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>Candidate</title>
{% endblock title %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<link rel="stylesheet" href="{% static 'css/candidate.css' %}">
{% endblock css_styles %}

{% block content %}
<div class="col-md-9">
    <!-- Candidate Heading Section -->
    <div class="candidate-heading-section d-flex flex-column align-items-center text-center">
        <h2>Candidates</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Candidates</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="search-section p-3">
            <h5>Search by Keywords</h5>
            <form method="GET" action="{% url 'candidate_list' %}">
                <!-- Keyword Input -->
                <div class="mb-3 position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-2"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                    <input type="text" name="keyword" class="form-control ps-4" placeholder="Candidate title, keywords"
                        value="{{ keyword }}">
                </div>

                <!-- Location Input -->
                <div class="mb-3 position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                    </svg>
                    <input type="text" name="location" class="form-control ps-4" placeholder="Location"
                        value="{{ location }}">
                </div>

                <!-- Category Filter -->
                <h5>Category</h5>
                <div class="mb-3 position-relative">
                    <select name="categories" class="form-control" aria-label="Categories" multiple>
                        {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id|stringformat:'s' in selected_categories%}
                        selected
                        {% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Gender Filter -->
                <h5>Candidate Gender</h5>
                <div class="mb-3">
                    <select name="gender" class="form-select">
                        <option value="">Any</option>
                        <option value="Male" {% if gender == 'Male' %} selected {% endif %}>Male</option>
                        <option value="Female" {% if gender == 'Female' %} selected {% endif %}>Female</option>
                        <option value="Both" {% if gender == 'Both' %} selected {% endif %}>Both</option>
                    </select>
                </div>

                <!-- Date Posted Section -->

                <h5>Experience</h5>
                <div class="mb-3">
                    {% for year in experience_range %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" name="experience"
                            value="{{ year }}" id="experience{{ year }}" {% if year|stringformat:'s' in selected_experience %}
                            checked
                            {% endif %}>
                        <label class="form-check-label" for="experience{{ year }}">
                            {% if year == 0 %}
                            Fresher
                            {% else %}
                            {{ year }} Year{% if year > 1 %}s{% endif %}
                            {% endif %}
                        </label>
                    </div>
                    {% endfor %}
                </div>


                <h5>Qualification</h5>
                <div class="mb-3">
                    {% for qualification in qualification_list %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" name="qualifications"
                            value="{{ qualification }}" id="qualification{{ forloop.counter }}" {% if qualification in selected_qualifications %}
                            checked
                            {% endif %}>
                        <label class="form-check-label" for="qualification{{ forloop.counter }}">{{ qualification.name }}</label>
                    </div>
                    {% endfor %}
                </div>





                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary" style="padding: 8px 50px; font-size: 18px;">Find
                    Candidates</button>
            </form>
        </div>
    </div>

    <div class="col-md-9">
        <!-- Results and Sorting -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>Showing {{ candidates.count }} results</div>
            <div class="d-flex">
                <select class="form-select me-2">
                    <option selected>Sort by (Default)</option>
                    <!-- Add more sorting options as needed -->
                </select>
                <select class="form-select">
                    <option selected>9 Per Page</option>
                    <!-- Add more pagination options as needed -->
                </select>
            </div>
        </div>
        <!-- Candidate Card Example -->
        {% for candidate in candidates %}
        <div class="candidate-card d-flex align-items-center position-relative">
            {% if candidate.profile_image and candidate.profile_image.name %}
            <img src="{{ candidate.profile_image.url }}" alt="Profile Image">
            {% else %}
            <p>No profile image available.</p>
            {% endif %}
            <div class="flex-grow-1">
                <h5 class="mb-1">
                    {{ candidate.fullname }}
                    <span class="featured-text">Featured</span>
                </h5>
                <p class="mb-1">
                    <a href="#" class="text-decoration-none">{{ candidate.job_title }}</a>
                    | <i class="fas fa-map-marker-alt"></i> {{ candidate.location }} |
                    ${{ candidate.salary }} / year
                </p>
                <div>
                    {% for category in candidate.job_category.all %}
                    <button class="badge btn-badge">{{ category }}</button>
                    {% endfor %}
                </div>
            </div>

            <!-- Bookmark Icon -->
            <!-- Bookmark Icon -->
            <div class="bookmark-icon position-absolute" style="top: 40px; right: 141px;"
                onclick="toggleBookmark(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-bookmark" viewBox="0 0 16 16">
                    <path
                        d="M2 2v13.5l5-2.5 5 2.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zm2-.5A.5.5 0 0 1 4 1h6a.5.5 0 0 1 .5.5v11.61l-3-1.5-3 1.5V1.5z" />
                </svg>
            </div>

            <a href="{% url 'candidate_profile' candidate_id=candidate.id %}">View Profile</a>
            <button id="viewProfileButton"  class="view-profile-button" >View Profile</button>
        </div>
        {% empty %}
        <p>No candidates found.</p>
        {% endfor %}

        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" id="prevPage">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#" id="page1">1</a></li>
                <li class="page-item"><a class="page-link" href="#" id="page2">2</a></li>
                <li class="page-item"><a class="page-link" href="#" id="page3">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" id="nextPage">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock content %}