{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
  <title>Applicants Jobs</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
{% endblock %}
{% block css_styles %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/applied_jobs.css' %}" />
  <link rel="stylesheet" href="{% static 'css/applicants_jobs.css' %}" />
{% endblock %}

{% block content %}

<div class="container-fluid d-flex">
  {% include 'shared/side_panel.html' %}
  <div class="main-content p-5">
    <h2>Candidates who applied for {{ job_posting.job_title }}</h2>
    <ul>
      {% for application in applied_jobs %}
      <li>
        {{ application.candidate.fullname }} - Applied on {{ application.applied_on|date:"Y-m-d" }}
        <a href="{% url 'candidate_profile' application.candidate.id %}">View Profile</a>
      </li>
      {% empty %}
      <li>No candidates have applied for this job yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
