{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>Employeers list</title>
{% endblock title %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/employer_list.css' %}">
{% endblock css_styles %}

{% block content %}

<div class="emplistbody">
    <div class="container-fluidEmp badge-primary gray-background">
        <h3 class="my-custom-heading text-center">Employers</h3>
        <h6 class="my-custom-subheading text-center">Home / Employers List</h6>
    </div>
    <div class="container">
        <div class="row">
            <!-- Search section -->
            <div class="col-md-4 gray-background">
                <div class="search-container">
                    <!-- Search fields -->
                    <h6>Search by Keywords</h6>
                    <form method="GET" action="{% url 'employers_list' %}">
                        <div class="mb-3 position-relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-2"
                                viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                            <input type="text" name="keyword" class="form-control ps-4"
                                placeholder="Candidate title, keywords" value="{{ keyword }}">
                        </div>

                        <!-- Location Input -->
                        <div class="mb-3 position-relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                            <input type="text" name="location" class="form-control ps-4" placeholder="Location"
                                value="{{ location }}">
                        </div>

                        <!-- Category Filter -->
                        <h5>Category</h5>
                        <div class="mb-3 position-relative">
                            <select name="categories" class="form-control" aria-label="Categories" multiple>
                                {% for category in categories %}
                                <option value="{{ category.id }}" {% if category.id|stringformat:'s' in selected_categories%} selected {% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" style="padding: 8px 50px; font-size: 18px;">Find
                            Employers</button>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Sort By and Results Count -->
                <div class="sort-by-section">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>Showing {{ employers.count }} results</div>
                    </div>
                </div>

                <!-- Employers listings section -->

                <div class="col-md-8" style="width: auto;">
                    {% if employers %}
                    <div class="employee-listing">
                        {% for employer in employers %}
                        <div class="d-flex justify-content-between">
                            <div class="empimage"><img src="https://via.placeholder.com/50" alt="employee-listing">
                            </div>
                            <h2 class="emp_head"><a href="{% url 'employers_details' employer.pk %}"> {{ employer.employer_name }}</a></h2>
                        </div>
                        <p class="text-muted">
                            <i class="fas fa-map-marker-alt ml-3"></i>&nbsp;{{ employer.employer_contacts.first.location.name }}
                        </p>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center justify-content-center"></div>
                    <h3>No employers in list!</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>


        {% endblock content %}