{% extends 'shared/base.html' %}
{% block title %}
<title>FAQ</title>
{% endblock title %}

{% block content %}
<div class="container-fluid mb-5">
    <div class="row bg-body-secondary mb-5 p-3">
        <nav aria-label="breadcrumb">
            <h4 class="h4 text-center fw-semibold">FAQ</h4>
            <ol class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
                <li class="breadcrumb-item active fw-semibold" aria-current="page"></li>FAQ
            </ol>
        </nav>
    </div>
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            <h4 class="h4 fw-semibold col-lg-8">Payments</h4>
            <div class="accordion col-lg-8 mt-2" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne">
                            Why won't my payment go through?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque nec nibh sed et,
                            vel
                            diam, massa. Placerat quis vel fames interdum urna lobortis sagittis sed pretium.
                            Aliquam
                            eget posuere sit enim elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                            non
                            risus.
                            Elementum lectus a porta commodo suspendisse arcu, aliquam lectus faucibus. Nisl
                            malesuada
                            tortor, ligula aliquet felis vitae enim. Mi augue aliquet mauris non elementum tincidunt
                            eget facilisi. Pellentesque massa ipsum tempus vel aliquam massa eu pulvinar eget.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            How do I get a refund?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque nec nibh sed et,
                            vel
                            diam, massa. Placerat quis vel fames interdum urna lobortis sagittis sed pretium.
                            Aliquam
                            eget posuere sit enim elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                            non
                            risus.
                            Elementum lectus a porta commodo suspendisse arcu, aliquam lectus faucibus. Nisl
                            malesuada
                            tortor, ligula aliquet felis vitae enim. Mi augue aliquet mauris non elementum tincidunt
                            eget facilisi.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            How do I redeem a coupon?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque nec nibh sed et,
                            vel
                            diam, massa. Placerat quis vel fames interdum urna lobortis sagittis sed pretium.
                            Aliquam
                            eget posuere sit enim elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                            non
                            risus.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseFour">
                            Changing account name
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Elementum lectus a porta commodo suspendisse arcu, aliquam lectus faucibus. Nisl
                            malesuada
                            tortor, ligula aliquet felis vitae enim. Mi augue aliquet mauris non elementum tincidunt
                            eget facilisi. Pellentesque massa ipsum tempus vel aliquam massa eu pulvinar eget.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <h4 class="h4 fw-semibold col-lg-8">Suggetions</h4>
            <div class="accordion col-lg-8 mt-2" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseFive">
                            Why won't my payment go through?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque nec nibh sed et,
                            vel
                            diam, massa. Placerat quis vel fames interdum urna lobortis sagittis sed pretium.
                            Aliquam
                            eget posuere sit enim elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                            non
                            risus.
                            Elementum lectus a porta commodo suspendisse arcu, aliquam lectus faucibus. Nisl
                            malesuada
                            tortor, ligula aliquet felis vitae enim. Mi augue aliquet mauris non elementum tincidunt
                            eget facilisi. Pellentesque massa ipsum tempus vel aliquam massa eu pulvinar eget.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseSix">
                            How do I get a refund?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque nec nibh sed et,
                            vel
                            diam, massa. Placerat quis vel fames interdum urna lobortis sagittis sed pretium.
                            Aliquam
                            eget posuere sit enim elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                            non
                            risus.
                            Elementum lectus a porta commodo suspendisse arcu, aliquam lectus faucibus. Nisl
                            malesuada
                            tortor, ligula aliquet felis vitae enim. Mi augue aliquet mauris non elementum tincidunt
                            eget facilisi.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseSeven">
                            How do I redeem a coupon?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque nec nibh sed et,
                            vel
                            diam, massa. Placerat quis vel fames interdum urna lobortis sagittis sed pretium.
                            Aliquam
                            eget posuere sit enim elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                            non
                            risus.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseEight">
                            Changing account name
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Elementum lectus a porta commodo suspendisse arcu, aliquam lectus faucibus. Nisl
                            malesuada
                            tortor, ligula aliquet felis vitae enim. Mi augue aliquet mauris non elementum tincidunt
                            eget facilisi. Pellentesque massa ipsum tempus vel aliquam massa eu pulvinar eget.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}