{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>Home</title>
{% endblock title %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home_page_testimonials_section.css' %}">
<link rel="stylesheet" href="{% static 'css/home_page_article_section.css' %}">
<link rel="stylesheet" href="{% static 'css/loginRegister.css' %}"> 
{% endblock css_styles %}

{% block content %}

{% include 'shared/banner.html' %}
{% include 'shared/popular_jobs_categories.html' %}
{% include 'shared/featured_jobs.html' %}
{% include 'shared/testimonials.html' %}
{% include 'shared/get_started.html' %}
{% include 'shared/articles.html' %}
{% include 'shared/app_advertisement.html' %}
{% include 'accounts/loginRegister.html' %}

{% endblock content %}