{% extends 'shared/base.html' %} {% load static %} {% block title %}
<title>{{job.job_title}} - Details</title>
{% endblock title %} {% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/job_details.css' %}" />
{% endblock css_styles %} {% block content %}
<header class="bg-light text-center py-4 shadow-sm">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <img src="{{ job.employer.logo }}" alt="Company Logo" class="logt rounded-circle img-fluid">
            </div>
            <div class="col-md-10 text-md-start">
                <h2 class="d-flex align-items-center gap-2">
                    {{ job.job_title }}
                    <img src="{% static 'img/job_details/3592846_crest_crown_general_item_jewellery_icon.png' %}"
                        alt="Crest Icon" class="imget img-fluid">
                    <span class="text-danger fw-bold">{{ job.status }}</span>
                </h2>
            </div>
        </div>
        <div class="mt-3 mb-4">
            <ul class="list-inline mb-0">
                <li class="list-inline-item me-3">
                    <img src="{% static 'img/job_details/briefcase.png' %}" alt="Briefcase Icon" class="imget">
                    {% for category in job.job_category.all %}
                    {{ category.name }}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </li>
                <li class="list-inline-item me-3">
                    <img src="{% static 'img/job_details/211766_location_icon (1).png' %}" alt="Location Icon"
                        class="imget">
                    {{ job.location }}
                </li>
                <li class="list-inline-item me-3">
                    <img src="{% static 'img/job_details/time.png' %}" alt="Time Icon" class="imget">
                    {{ job.date_posted|date:"F j, Y" }}
                </li>
                <li class="list-inline-item me-3">
                    <img src="{% static 'img/job_details/$.png' %}" alt="Salary Icon" class="imget">
                    ${{ job.min_salary }} - ${{ job.max_salary }}/{{job.salary_type }}
                </li>
                <li class="list-inline-item">
                    Application ends: <span>{{ job.application_deadline|date:"F j, Y" }}</span>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <button class="btn btn-warning rounded-pill text-dark me-2">{{ job.job_type }}</button>
                <button class="btn btn-danger rounded-pill text-light">{{job.urgency_level}}</button>
            </div>
            <div>
                <form action="{% url 'apply_for_job' job.pk %} " class="btn btn-primary me-2" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary me-2">Apply now</button>
                </form>
            </div>
            <div>
            </div>
        </div>
    </div>
</header>
<main class="container my-5">
    <div class="row">
        <section class="col-md-8">
            <article>
                <h4>Job Description</h4>
                <p class="text-mutedt">{{ job.job_description }}</p>
            </article>
        </section>
        <aside class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center">Job Overview</h4>
                    <ul class="list-unstyled">
                        <li><img class="imget img-fluid" src="{% static 'img/job_details/time.png' %}"
                                alt="Date Posted"> Date Posted: {{ job.date_posted|date:"F j, Y" }}</li>
                        <li><img class="imget img-fluid" src="{% static 'img/job_details/location.png' %}"
                                alt="Location"> Location: {{ job.location }}</li>
                        <li><img class="imget img-fluid" src="{% static 'img/job_details/$.png' %}" alt="Salary">
                            Offered Salary: ${{ job.min_salary }} - ${{ job.max_salary }} / week</li>
                        <li><img class="imget img-fluid" src="{% static 'img/job_details/time.png' %}"
                                alt="Expiration Date"> Expiration Date: {{ job.application_deadline|date:"F j, Y" }}
                        </li>
                        <li><img class="imget img-fluid" src="{% static 'img/job_details/time.png' %}" alt="Experience">
                            Experience: {{ job.experience }} Years</li>
                        <li><img class="imget img-fluid" src="{% static 'img/job_details/time.png' %}"
                                alt="Qualification"> Qualification: {{ job.qualification }}</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h4>Location</h4>
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb={{ job.location_map_embed_url }}" width="100%"
                            height="400" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</main>
{% endblock content %}