{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>{{ categories.name }}</title>
{% endblock title %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/applied_jobs.css' %}">
{% endblock css_styles %}

{% block content %}

<div class="container-fluid d-flex">
    {% include 'shared/side_panel.html' %}
    <div class="main-content p-5">
        <div class="header">
            <h1>{{category.name}}</h1>
        </div>
        <div class="row">
           {% if jobs %} 
            {% for jobs in jobs %}
            <div class="col-md-12 mb-4">
                <div class="card job-card">
                    <div class="card-body p-4 mt-2 mb-2">
                        <div class="row">
                            <div class="col-md-3 ms-4 custom-icon-bg d-flex justify-content-center">
                            </div>
                            <div class="col-md-9 d-flex flex-column justify-content-between">
                                <div class="d-flex justify-content-between">
                                    <h5 class="job-card-title">{{jobs.job_title}}</h5>
                                    <div class="ms-2">
                                        <span class="text-danger">{{jobs.status}}</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <p class="card-text text-nowrap">
                                        <span class="text-muted me-2"><i class="fa-solid fa-briefcase"></i>&nbsp;{{jobs.category}}</span>
                                        <span class="me-2"><i class="fa-solid fa-location-dot"></i>&nbsp;{{jobs.location}}</span>
                                        <span><i class="fa-solid fa-money-bill"></i>&nbsp;${{jobs.min_salary}} - ${{jobs.max_salary}} / {{jobs.salary_type}}</span>
                                    </p>
                                </div>
                                <div>
                                    <span class="job-type-badge">{{jobs.job_type}}</span>
                                    <span class="urgent-badge">{{jobs.urgency_level}}</span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="d-flex align-items-center justify-content-center"></div>
                <h3>No jobs in this category!</h3>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}