{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>User Dashboard</title>
{% endblock title %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/manage_jobs.css' %}">
{% endblock css_styles %}

{% block content %}

<div class="container-fluid d-flex">
    <div class="sidebar">
        <div class="profile-section">
            <div class="profile-img-container">
                <img src="{% static 'img/candidateprof.png' %}" alt="Profile Picture">
            </div>
            <div class="profile-info">
                <h2>Candidate</h2>
                <p>New York</p>
                <button class="view-profile-btn">View Profile</button>
            </div>
        </div>
        <nav class="nav-links">
            <a href="#"><i class="bi bi-journal-check"></i> User Dashboard</a>
            <a href="#"><i class="bi bi-person"></i> Profile</a>
            <a href="#"><i class="bi bi-file-earmark-person-fill"></i> My Resume</a>
            <a href="#"><i class="bi bi-megaphone"></i> My Applied</a>
            <a href="#"><i class="bi bi-bookmark-check"></i> Shortlist Jobs</a>
            <a href="#"><i class="bi bi-person-fill-add"></i> Following Employers</a>
            <a href="#"><i class="bi bi-megaphone"></i> Alerts Jobs</a>
            <a href="#"><i class="bi bi-chat-dots"></i> Messages</a>
            <a href="#"><i class="bi bi-person-lines-fill"></i> Meetings</a>
            <a href="#"><i class="bi bi-key"></i> Change Password</a>
            <a href="#"><i class="bi bi-trash3-fill"></i> Delete Profile</a>
            <a href="#"><i class="bi bi-box-arrow-left"></i> Logout</a>
        </nav>
    </div>
    <div class="manage-jobs p-5">
        <h2>Manage Jobs</h2>
        <table class="table table-striped table-hover">
            <thead class="table">
                <tr>
                    <th>Title</th>
                    <th>Applicants</th>
                    <th>Created & Expired</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Junior Graphic Designer (Web)</td>
                    <td><a href="#">557 Applicant(s)</a></td>
                    <td>Created: June 20, 2021<br>Expiry date: May 6, 2026</td>
                    <td><span class="badge bg-success">Published</span></td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                        <a href="#" class="btn btn-secondary btn-sm"><i class="bi bi-file-earmark-text"></i></a>
                        <a href="#" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock content %}