{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>Candidate Profile</title>
{% endblock title %}


{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/KTprofile.css' %}">
{% endblock css_styles %}

{% block content %}
<div class="main">
    <div class="profile-header">            
            {% if candidate.profile_image %}
            <img src="{{ candidate.profile_image.url }}" alt="{{ candidate.name }}">
            {% else %}
            <img src="{% static 'images/default_profile.png' %}" alt="Default profile image">
            {% endif %}
            <h2>{{ candidate.fullname }}</h2>
            <p>{{ candidate.job_title }}</p>
        <div class="profile-info" >
            <div class="details">
                <a href="#"><span><i class="fas fa-map-marker-alt"></i> {{ candidate.candidate_contacts.first.location.name }}</span></a>
            
                <span><i class="fas fa-money-bill-wave"></i> ${{ candidate.salary }} / {{ candidate.salary_type }}</span>
            </div>
            <div class="profile-actions">
                {% if candidate.cv %}
                <a href="{{ candidate.cv.url }}" class="btn btn-primary" download>
                    Download CV
                </a>
                {% else %}
                <button class="btn btn-primary" disabled>
                    No CV Available
                </button>
                {% endif %}
                <button class="btn btn-primary">Invite</button>
                {% if candidate %}
                    <form action="{% url 'save_candidate_profile' candidate.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Save Profile</button>
                    </form>
                {% else %}
                    <p>No candidate information available</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-4 left-grid">
            
            <div class="card" style="background-color: #f7f9fc; padding: 24px; border-radius: 10px;">
                <div class="card-body">
                    <div class="detail-2">
                        <div class="card-title">
                            <i class="fas fa-dollar-sign" style="color: #007bff;"></i>
                            <h5 class="card-title">Offered Salary</h5>
                        </div>
                        <p>${{ candidate.salary }}</p>
        
                        <div class="card-title">
                            <i class="fas fa-venus" style="color: #007bff;"></i>
                            <h5 class="card-title">Gender</h5>
                        </div>
                        <p>{{ candidate.gender }}</p>
        
                        <div class="card-title">
                            <i class="fas fa-calendar-alt" style="color: #007bff;"></i>
                            <h5 class="card-title">Age</h5>
                        </div>
                        <p>{{ candidate.age }}</p>
        
                        <div class="card-title">
                            <i class="fas fa-graduation-cap" style="color: #007bff;"></i>
                            <h5 class="card-title">Qualification</h5>
                        </div>
                        <p>{{ candidate.qualification }}</p>
        
                        <div class="card-title">
                            <i class="fas fa-language" style="color: #007bff;"></i>
                            <h5 class="card-title">Languages</h5>
                        </div>
                        <p>
                            {% for language in candidate.languages.all %}
                                {{ language.name }}
                            {% empty %}
                            <span>No languages listed</span>
                            {% endfor %}
                        </p>
        
                        <div class="card-title">
                            <i class="fas fa-envelope" style="color: #007bff;"></i>
                            <h5 class="card-title">Email</h5>
                        </div>
                        <p>{{ candidate.email }}</p>
        
                        <div class="card-title">
                            <i class="fas fa-phone-alt" style="color: #007bff;"></i>
                            <h5 class="card-title">Phone Number</h5>
                        </div>
                        <p>{{ candidate.phone_number }} 
                            <button class="btn btn-primary" 
                                    style="font-size: 15px;height: 20px;width: 40px; padding: 0; border: none; text-decoration: none; margin-left: 5px;">Show
                            </button>
                        </p>
        
                    </div>
                </div>
            </div>
            
            <div class="card" style="background-color: #f7f9fc;">
                <div class="card-body">
                    <h5 class="card-title">Professional Skills</h5>
                    {% for skill in candidate.skills.all %}
                            <a href="#"><span class="btn btn-light">{{ skill.name }}</span></a>
                    {% endfor %}
                </div>
            </div>
            
            <div class="card" style="background-color: #f7f9fc; padding: 10px; border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #333;">CV</h5>
                    <div style="background-color: #caebff; padding: 10px; border-radius: 5px; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
                        {% if candidate.cv %}
                            <a href="{{ candidate.cv.url }}" style="color: #0066cc; display: flex; align-items: center; text-decoration: none;">
                                cv_candidate.pdf
                                <i class="fas fa-file-download" style="font-size: 1.5em; color: #0066cc; margin-left: 10px;"></i>
                            </a>
                        {% else %}
                            <p>No CV uploaded.</p>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            <div class="card" style="background-color: #f7f9fc; padding: 20px; border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; margin-bottom: 20px;">Contact {{ candidate.fullname }}</h5>
                    
                    <form method="POST">
                        {% csrf_token %}
                        {{ message_form.as_p }}
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary" style="background-color: #0061f2; border: none; padding: 10px 20px; border-radius: 5px;">Send Message</button>
                        </div>
                    </form>
                    
                    <div style="text-align: center; margin-top: 15px;">
                        <a href="#" style="font-size: 12px; color: #7b7b7b;">Private Message</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 right-grid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About {{ candidate.fullname }}</h5>
                    <!-- <p>{{ candidate.bio }}</p> -->
                    <p>{{ candidate.description|linebreaks }}</p>
                    
                    <div class="share-container">
                        <div class="share-text">Share This Post</div>
                        <div class="social-buttons">
                            <button class="btn btn-facebook"><i class="fab fa-facebook-f"></i> Facebook</button>
                            <button class="btn btn-twitter"><i class="fab fa-twitter"></i> Twitter</button>
                            <button class="btn btn-pinterest"><i class="fab fa-pinterest-p"></i> Pinterest</button>
                        </div>
                    </div>
                </div>
            </div>  
                    <div class="container my-5" >
                        <h5>Related Candidates</h5>
                        {% for candidate in candidates %}    
                        <div class="candidate-card">
                            {% if candidate.profile_image and candidate.profile_image.name %}
                            <div class="candidate-img">
                                <img src="https://i.pinimg.com/564x/f9/38/ab/f938aba00b513bf8cbcc5c5be6f10b32.jpg" alt="Brooklyn Simmons">
                            </div>
                            {% else %}
                            <img src="{% static 'images/default_profile.png' %}" alt="Default profile image">
                            {% endif %}
                            <div class="candidate-info">
                                <h6>{{ candidate.fullname }}</h6>
                                <p class="skil">{{ skills.name }}</p>
                                <p class="location">
                                    <i class="fas fa-map-marker-alt"></i> {{ candidate.location }}
                                </p>
                                <p class="salary">
                                    <i class="fas fa-money-bill"></i> ${{ candidate.salary }} / week
                                </p>
                                <div class="candidate-tags">
                                    {% for category in candidate.job_category.all %}
                                    <span class="badge bg-light text-dark">{{ category }}</span>
                                </div>
                                    {% endfor %}
                            </div>
                            <div class="button-group">
                                <button class="save-btn" style="border: none;border-radius: 5px;padding: 20px; height: 35px;background:none;color: #0066cc;">
                                    <i class="fas fa-bookmark" ></i>
                                </button>
                                <a href="{% url 'candidate_profile' candidate.pk %}" class="view-profile-btn">
                                    <button style="border: none; padding: 10px 20px; background-color: #0066cc; color: white; border-radius: 5px;">
                                        View Profile
                                    </button>
                                </a>
                            </div>
                        
                        </div>
                        {% empty %}
                    
                        <p>No candidates found.</p>
                        {% endfor %}
                    </div>
                    <div class="container my-5">
                        <h5>{{ reviews.count }} comment{{ reviews.count|yesno:"s,s" }}</h5>
                        {% for review in reviews %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div style="border-radius: 50%; margin-right: 20px;">
                                        {% if review.reviewer.profile.image %}
                                        <img src="{{ review.reviewer.profile.image.url }}" alt="Profile" class="rounded-circle me-3" style="width: 70px; height: 70px;">
                                        {% else %}
                                        <img src="{% static 'images/default_profile.png' %}" alt="Default profile image" class="rounded-circle me-3" style="width: 70px; height: 70px;">
                                        {% endif %}
                                    </div>
                                    <div style="width: 100%;">
                                        <div class="d-flex justify-content-between align-items-center mb-1">
                                            <h6 class="card-title mb-0">{{ review.reviewer.username }}</h6>
                                            <div class="rating">
                                                <span>{{ review.rating }}.0</span>
                                                {% for i in "12345" %}
                                                    {% if forloop.counter <= review.rating %}
                                                        <span class="text-warning">&#9733;</span>
                                                    {% else %}
                                                        <span class="text-muted">&#9733;</span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            
                                        </div>
                                        <p class="card-subtitle text-muted mb-2">
                                            {{ review.created_at|date:"F j, Y" }}
                                        </p>
                                        <p class="card-text">{{ review.comment }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No reviews yet.</p>
                        {% endfor %}
                    </div>
                    <div class="container my-5">
                        <div class="card p-4" style="border: 1px solid #dee2e6;">
                            <h5>Add a review</h5>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="mb-3 d-flex align-items-center">
                                    <label class="form-label">Your Rating: </label>
                                    <div class="rating-container ms-3">
                                        <div class="text-warning" id="star-container">
                                            <span class="star" data-value="1">&#9733;</span>
                                            <span class="star" data-value="2">&#9733;</span>
                                            <span class="star" data-value="3">&#9733;</span>
                                            <span class="star" data-value="4">&#9733;</span>
                                            <span class="star" data-value="5">&#9733;</span>
                                        </div>
                    
                                    </div>
                                </div>
                                <input type="hidden" name="rating" id="rating" value="">
                                <div class="row">
                                    
                                <div class="mb-3">
                                    <label for="comment" class="form-label">Your Comment</label>
                                    <textarea class="form-control" id="comment" name="comment" rows="6" placeholder="Comment" required></textarea>
                                </div>
                    
                                <button style="width: auto;text-align: center;" type="submit" class="btn btn-primary">Submit Review</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            
    </div>
</div>
{% endblock content %}


{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{% static 'scripts/profile.js' %}"></script>
<script>
    document.getElementById('save-profile-btn').addEventListener('click', function() {
        const candidateId = this.getAttribute('data-candidate-id');
        fetch(`/save-candidate/${candidateId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ candidate_id: candidateId })
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);  // Notify user of success
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}
