{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>{{ categories.name }}</title>
{% endblock title %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/applied_jobs.css' %}">
{% endblock css_styles %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="p-5 rounded" style="background-color: #e6f2ff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <h2 class="text-center">Confirm Deletion</h2>
                <p class="text-center">Are you sure you want to delete the job "{{ object.job.job_title }}" from your saved jobs?</p>
                <form method="post" class="text-center">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger me-2">Confirm Delete</button>
                    <a href="{% url 'candidate_saved_jobs' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}