.sidebar {
    width: 25%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .sidebar::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
  }
  
  .sidebar:hover::-webkit-scrollbar {
    width: 5px; /* Show the scrollbar when hovering */
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .sidebar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;
  }
  
  .profile-img-container {
    flex: 1;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: left;
    padding: px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-img {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
  }
  
  .profile-info h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .profile-info p {
    margin: 5px 0;
    color: #777;
    font-size: 16px;
  }
  
  .view-profile-btn {
    padding: 5px 20px;
    background-color: #007bff;
    width: 70%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .view-profile-btn:hover {
    background-color: #105eb2;
  }
  
  .nav-links {
    margin-top: 30px;
  }
  
  .nav-links a {
    display: block;
    color: #333;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  
  .nav-links a:hover {
    background-color: #d5e1ed;
  }
  
  .main-content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: aliceblue;
   
  
  }
  .header h1 {
  margin-bottom: 50px;
}
.container {
    background-color: #e5eff0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    text-align: center;
}


/* Heading Styles */
h1 {
    color: #007bff;
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="file"] {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}