.card-img-top {
    padding: 10px; 
    box-sizing: border-box; 
    transition: transform 0.3s ease; 
    display: block; 
    width: 100%; 
    border-radius: 20px;
}

.card-img-top:hover {
            transform: scale(1.1); 
            cursor: pointer; 
        }