.loginRegister{
  font-family: 'Jost', sans-serif !important;
}

.loginRegister_input {
  background: #f0f5f7;
  padding: 20px;
  border: none;
  border-radius: 8px;
  color: #77838f;
  font-size: 15px;
}

.loginRegister_check{
  font-size: 14px;
}

.loginRegister_forgot_pass {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.loginRegister_cta_btn{
  padding: 15px;
}

.user-type-selection {
  display: flex;
  gap: 10px;
}

.user-type-selection input[type="radio"] {
  display: none !important;
}

.user-type-label {
  padding: 8px 60px;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #e9f0fb;
  background-color: #e9f0fb;
  color: #1e73be;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .user-type-selection {
    display: flex;
    gap: 5px;
  }

  
  .user-type-label {
    padding: 8px 50px;
    border-radius: 6px;
    font-size: 14px;
  }
}

.user-type-label i {
  margin-right: 8px;
  font-size: 20px;
}

.user-type-selection input[type="radio"]:checked + .user-type-label {
  background-color: #1e73be;
  color: white;
  border-color: #1e73be;
}

.user-type-selection
  input[type="radio"]:not(:checked)
  + .user-type-label:hover {
  background-color: #d0e4fb;
  border-color: #d0e4fb;
}

