.navbar {
    padding: 2% 1% 2% 1%;
    
}

.navbar-custom-bg {
    background-color: #e6f2ff !important;
}

.custom-btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.login-reg-btn {
    background-color: #cce5ff;
    color: #1967D2;
}

.login-reg-btn:hover {
    background-color: #1967D2;
    color: white;
    transition-duration: 0.3s;
}

.btn-blue {
    background-color: #1967D2;
}

.btn-blue:hover {
    background-color: #0033cc;
    transition-duration: 0.3s;
}

.notification-btn {
    margin-left: 10px;
    font-size: x-large;
    color: #262626;
}

.notification-btn:hover {
    color: #1967D2;
    transition-duration: 0.5s;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column p,
.footer-column ul {
    font-size: 0.9em;
    color: #6c757d;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #6c757d;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.contact-number {
    color: #1967D2;
    font-size: larger;
}

.banner-background {
    background-image: url('../img/banner-bg.jpg');
    background-repeat: no-repeat;
    margin: 0%;
    width: 100%;
    height: 700px;
}

.banner-background-color {
    background-color: #e6f2ff;
}

.banner-content {
    margin-top: 15%;
    margin-left: 5%;
}

.banner-form {
    display: inline-flex;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
}

.banner-desc {
    margin-bottom: 5%;
}

.banner-desc #p1 {
    font-size: 40px;
    text-align: left;
}

.banner-desc #p2 {
    text-align: left;
}

.form-inline {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group-text {
    background-color: transparent;
    border: none;
    color: #6c757d;
}

.form-control {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

input::placeholder, select {
    color: #6c757d;
}

.btn-primary {
    background-color: #1967D2;
    padding: 10px 20px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1;        
    display: inline-flex;  
    align-items: center;   
}

.btn-primary:hover {
    color: #1967D2;
    background-color: white;
    border: 1px #1967D2 solid;
    transition-duration: 0.3s;
}



.banner-form button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1967D2;
    color: white;
    transition-duration: 0.3s;
}

.job-box {
    border: 1px solid #e6e6e6 !important;
    transition: all 0.3s ease-in-out;
    display: flex;
}

.custom-icon-bg {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-icon i {
    font-size: 28px;
    color: #1967D2;
}

.job-box h5 {
    margin: 0;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.job-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.job-box:hover h5 {
    color: #1967D2;
    transition-duration: 0.5s;
}

.job-box:hover .custom-icon {
    background-color: #1967D2;
    transition-duration: 0.5s;
}

.job-box:hover i {
    color: white;
    transition-duration: 0.5s;
}

h2 {
    font-weight: 600;
}

.job-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.job-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.job-card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #343a40;
}

.section-divider {
    border-bottom: 1px solid #f2f2f2;
}

.job-details {
    display: flex;
}

.job-type-badge {
    background-color: #99ccff;
    color: #1a75ff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    margin-left: 10px;
}

.urgent-badge {
    background-color: #ffdd99;
    color: #ffaa00;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    margin-left: 10px;
}

.sticky-badge {
    background-color: grey;
    width: 250px;
    height: 150px;
    position: absolute;
    left: 40%;
    top: 415%;
    border-radius: 5px;
}

@media (max-width: 576px) {
    .sticky-badge {
        display: none; /* Hide the badge */
    }
}

/* For medium screens (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
    .sticky-badge {
        display: none; /* Hide the badge if necessary */
    }
}

/* For large screens (desktops) */
@media (min-width: 769px) {
    .sticky-badge {
        display: block; /* Ensure the badge is visible on larger screens */
    }
}
.report-bar {
    margin-top: 150px;
}

.custom-font-size {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.download-app-btn {
    width: auto;
    height: auto;
    border: none;
    background-color: #000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.download-app-btn a {
    color: white;
    text-decoration: none; 
    color: inherit; 
    display: flex; 
    align-items: center; 
}

.download-app-btn i {
    font-size: 2rem; 
    margin-right: 0.5rem;
}

.download-app-btn:hover {
    background-color: #1967D2;
    transition-duration: 0.5s;
}

.test-background {
    height: 700px;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    text-align: left; 
    padding: 0 15px; 
    height: 100vh; 
}

.banner-desc, .form-content {
    width: 100%;
}

.form-group {
    max-width: 500px;
    display: flex;
    gap: 10px;
}

.recruit-banner-background {
    background-color: #e6f2ff !important;
    border-radius: 5px;

}

/* Karthika Styles */
/* start */

.card-img-top {
    padding: 10px; 
    box-sizing: border-box; 
    transition: transform 0.3s ease; 
    display: block; 
    width: 100%; 
    border-radius: 20px;
}
.card-img-top:hover {
            transform: scale(1.1); 
            cursor: pointer; 
        }
/* haritha style         */
h2{
    font-size: 20px;
    margin-right: auto;
}
.container-fluid {
    background-color: #ebedf0;
    margin-bottom: 20px;
    padding-bottom: 45px;
}
.gray-background {
    background-color: rgb(237, 240, 238);
}
.my-custom-heading {
    margin-top: 5rem; 
    margin-bottom: 0.2rem;
    padding-top: 4%;
}
.my-custom-subheading {
    margin-top: 0; 
    margin-bottom: 1rem;
    font-weight: 100;
}
.employee-listing {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    
}
.employee-listing .badge {
    margin-right: 5px;
    color: black;
    background-color: lightblue;
}

.image img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.featured {
    color: green;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    
}
.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.search-container input,
.search-container select {
    width: 100%;
    padding: 10px 40px 10px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-container .radius-slider {
    display: flex;
    align-items: center;
}
.search-container .radius-slider input {
    margin-left: 10px;
    flex: 1;
} 
.search-container .search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    color: #aaa;
}
@media (max-width: 768px) {
    .my-custom-heading {
        margin-top: 3rem;
    }
    .search-container {
        gap: 10px;
    }
}
@media (max-width: 576px) {
    body {
        margin: 10px;
    }
    .my-custom-heading {
        margin-top: 2rem;
        padding-top: 2%;
    }
    .employee-listing {
        padding: 15px;
        margin-bottom: 15px;
    }
}
.location-input {
position: relative;
display: inline-block;
}

.location-icon {
position: absolute;
top: 50%;
left: 10px; 
transform: translateY(-50%);
font-size: 16px; 
color: #6c757d;
}

.form-control {
padding-left: 40px; 
}
.show-more {
    cursor: pointer;
    color: #007bff;
    
}
.show-more:hover {
    color: #0056b3;
}
.plus-symbol {
    font-size: 18px;
    
}
.switch {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.switch input {
    display: none;
}
.switch-label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    border-radius: 24px;
}
.switch-slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: #ccc;
    transition: .4s;
}
input:checked + .switch-label .switch-slider {
    background-color: #4a13cc;
}
input:checked + .switch-label .switch-slider:before {
    transform: translateX(26px);
}
.switch-status {
    font-size: 16px;
    margin-left: 10px;
}
.radius-slider {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 300px; 
    margin: 20px 0; 
}
.square-button {
    width: 300px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px; 
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.square-button:hover {
    background-color: #0056b3; 
}

.square-button:focus {
    outline: none;
}
.sort-by-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.sort-by-section select {
    border-radius: 5px;
    padding: 5px 10px;
    width: 180px;
}
.employee-alert input{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.employee-alert button{
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.employee-alert button:hover{
    background-color: #0056b3;
}

.pagination > li > a, .pagination > li > span{
border-radius: 100px;
width: 50px;
height: 50px;
margin-left: 10px;
padding-top: 13px;
text-align: center;


}

h2{
    font-size: 20px;
}
.container-fluid {
    background-color: #ebedf0;
    margin-bottom: 20px;
    padding-bottom: 45px;
}
.gray-background {
    background-color: rgb(237, 240, 238);
}
.my-custom-heading {
    margin-top: 5rem; 
    margin-bottom: 0.2rem;
    padding-top: 4%;
}
.my-custom-subheading {
    margin-top: 0; 
    margin-bottom: 1rem;
    font-weight: 100;
}
.job-listing {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    
}
.job-listing .badge {
    margin-right: 5px;
    color: black;
    background-color: lightblue;
}

.featured {
    color: green;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    
}
.image img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;

}
.search-container input,
.search-container select {
    width: 100%;
    padding: 10px 40px 10px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
}
.search-container .radius-slider {
    display: flex;
    align-items: center;
}
.search-container .radius-slider input {
    margin-left: 10px;
    flex: 1;
} 
.search-container .search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    color: #aaa;
}
.job-listing h2{
    margin-right: 250px;
}
@media (max-width: 768px) {
    .my-custom-heading {
        margin-top: 3rem;
    }
    .search-container {
        gap: 10px;
        font-weight: bold;
    }
}
@media (max-width: 576px) {
    body {
        margin: 10px;
    }
    .my-custom-heading {
        margin-top: 2rem;
        padding-top: 2%;
    }
    .job-listing {
        padding: 15px;
        margin-bottom: 15px;
    }
}
.location-input {
position: relative;
display: inline-block;
}

.location-icon {
position: absolute;
top: 50%;
left: 10px; 
transform: translateY(-50%);
font-size: 16px; 
color: #6c757d;
}

.form-control {
padding-left: 40px; 
}
.show-more {
    cursor: pointer;
    color: #007bff;
    
}
.show-more:hover {
    color: #0056b3;
}
.plus-symbol {
    font-size: 18px;
    
}
.switch {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.switch input {
    display: none;
}
.switch-label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    border-radius: 24px;
}
.switch-slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: #ccc;
    transition: .4s;
}
input:checked + .switch-label .switch-slider {
    background-color: #4a13cc;
}
input:checked + .switch-label .switch-slider:before {
    transform: translateX(26px);
}
.switch-status {
    font-size: 16px;
    margin-left: 10px;
}
.radius-slider {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 300px; 
    margin: 20px 0; 
}
.square-button {
    width: 300px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px; 
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.square-button:hover {
    background-color: #0056b3; 
}

.square-button:focus {
    outline: none;
}
.sort-by-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.sort-by-section select {
    border-radius: 5px;
    padding: 5px 10px;
    width: 180px;
}
.job-alert input[type="text"]{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.job-alert button{
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}

.job-alert button:hover{
    background-color: #0056b3;
}

.pagination > li > a, .pagination > li > span{
border-radius: 100px;
width: 50px;
height: 50px;
margin-left: 10px;
padding-top: 13px;
text-align: center;

}
/* end */
