{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>Admin | {{ form.instance.pk|yesno:"Update Location,Add Location" }} </title>
{% endblock title %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/applied_jobs.css' %}">
{% endblock css_styles %}

{% block content %}

<div class="container-fluid d-flex">
    <div class="main-content p-5">
        <div class="container mt-5">
            <h1>{{ form.instance.pk|yesno:"Update Location,Add Location" }}</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'location_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}