{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
<title>Admin | Delete {{ category.name }}</title>
{% endblock title %}
{% block css_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/applied_jobs.css' %}">
{% endblock css_styles %}

{% block content %}

<div class="container-fluid d-flex">
    <div class="main-content p-5">
        <div class="header">
            <p>Are you sure you want to delete this category?</p>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'jobcategory_list'%}" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-danger">Confirm</button>
            </form>                      
        </div>
    </div>
</div>

{% endblock %}